<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text analyzer</title>
</head>
<body>
<h1>Welcome to text Analyzer.Enter your text here</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="margin:0px; width:721px; height:93px;color:black;background:pink;" ></textarea>
<br>
    <input type="checkbox"name="removepunc">Remove Punc
    <button type="submit" class="btn btn-primar" style="color:black;background:cyan">
Analyze Text.
    </button>
</form>
<h2>Thank you for using..</h2>
<p>thihs is very good</p>


</body>
</html>